<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <div id="app">
        <button @click="show=!show">click</button>

        <h1 v-if="show">see me</h1>
        <h1 v-show="show">show me</h1>
        <button @click="random=Math.random()">click2</button>
        <h1 v-if="random>=0.75"> >=0.75</h1>
        <h1 v-else-if="random>=0.55"> >=0.55</h1>
        <h1 v-else-if="random>=0.35"> >=0.35</h1>
        <h1 v-else> > other</h1>


    </div>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                show: true,
                random: 1
            }
        })
    </script>
</body>

</html>